
.my-custom-scrollbar {
    position: relative;
    height: 50vh;
    overflow: auto;
    }

.table-wrapper-scroll-y {
    display: block;
}
*{
	padding: 0px;
	margin: 0px;
	font-family: 'Lato';
}
.text-information{
	font-size : 1.5em;
}
body{
	height: 100%;
	background: #95a5a6;
}
.titre2{
	font-size:1.3em;
}
.chat-box-container{
	position: absolute;
	display:flex;
	flex-direction: row-reverse;
	right: 20px;
	bottom: 0px;
	
}
.chat-box{
	margin : 0 20px;
	width: 20vw;
	position: relative;
}
.chat-head{
	width: 100%;
	height: 45px;
	background: #2c3e50;
	border-radius: 5px 5px 0px 0px;
}
.chat-head h2{
	margin-left:30px;
	color: white;
	display: inline-block;
}
.chat-head img{
	cursor: pointer;
	float: right;
	width: 25px;
	margin: 10px;
}
#navbarSupportedContent ul li {
	width:20vw;
}
.disabled{
	
	pointer-events: none;
	cursor: default;
	
	
}
.chat-body{
    height: 40vh;
    background-color: #e7e7e7;
	width: 100%;
	overflow: auto;
}
.chat-text{
	bottom: 0px;
	height: 45px;
	width: 100%;
}
.chat-text textarea{
	width: inherit;
	height: inherit; 
	box-sizing: border-box;
	border: 1px solid #bdc3c7;
	padding: 10px;
	resize: none;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
	border-color: royalblue;
}
.message{
	text-align: right;
}
.msg-send{
	background: #2ecc71;
}
.msg-receive{
	background: #3498db;
}
.msg-send, .msg-receive{
	width:70%;
	height: auto;
	padding: 0px 10px;
	margin: 10px auto;
	border-radius: 3px;
	line-height: 35px;
	position: relative;
	color: white;
}
.msg-receive:before{
	content: '';
	width: 0px;
    height: 0px;

	position: absolute;
	border: 15px solid;
	border-color: transparent #3498db transparent transparent;
	left: -29px;
	top: 3px;
}
.msg-send:after{
	content: '';
	width: 0px;
	height: 0px;
	position: absolute;
	border: 15px solid;
	border-color: transparent transparent transparent #2ecc71;
	right: -29px;
	top: 3px;
}
.msg-receive:hover, .msg-send:hover{
	opacity: .9;
}

